.search_bar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.search_bar input{
    border: none;
    background-color: rgba(0,0,0,0.2);
    width: 50%;
    color: white;
    outline: none;
}

.search_bar input:focus{
    transition: 0.2s ease-in-out;
    border: none;
    background-color: rgba(28,31,35,1);
    width: 50%;
    color: white;
}