.danger-zone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 0, 0, 0.1);
    border-radius: .25rem;
    padding: 0.5rem 1rem;
    width: 100%;
}

.danger-zone > button{
    margin-top: 0 !important;
}