.shortcut_container {
    width: 13rem;
    margin-right: 15px;
    display: inline-flex !important;
    border: none !important;
    background-color: #e3e3e3 !important;
}

.shortcut_container:last-child {
    margin-right: 0;
}

.shortcut_remove_container {
    position: relative;
}

.shortcut_remove_button {
    background-image: url('/assets/delete.png');
    right: 0;
}

.shortcut_edit_button {
    background-image: url('/assets/edit.png');
    right: 30px;
    border-bottom-left-radius: 15px;

}

.shortcut_action {
    position: absolute;
    width: 30px;
    height: 30px;
    color: white;
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    background-color: rgba(0, 0, 0);
    border: none;
}

.shortcut_action:hover {
    opacity: 1;
}


.shortcut_letter_container {
    position: relative;
}

.shortcut_letter {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 10px;
    background-color: rgb(75, 75, 75);
    color: white;
    text-transform: uppercase;
    padding: .50rem 0.8rem;
    transform: translateY(-100%);
    top: 0.7rem;
    left: 0.5rem;
    font-size: 1.2rem;
}

.shortcut_img {
    object-fit: cover;
    height: 125px;
    background-image: url('/assets/placeholder.png');
    background-size: cover;
    background-position: center;
}

.shortcut_button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #1c1f23;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: calc(.25rem - 1px);
    border-bottom-right-radius: calc(.25rem - 1px);
    color: white;
}

.shortcut_button:hover {
    background-color: #24282c;
}





